body {
    background-color: rgb(36, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    text-align: center;
}


.img-one {
    width: 200px;
    height: auto;

}

.img-two {
    width: 200px;
    height: auto;
}

.img-three {
    width: 200px;
    height: auto;
}